<!DOCTYPE html>
<html>

<head>
    <title>Practice Tracker</title>

    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <script src="https://unpkg.com/vue@2.6.7/dist/vue.js"></script>

    <script src="app/service.js"></script>
    <script defer src="app/app.js"></script>

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
        crossorigin="anonymous">
    <link rel="stylesheet" href="practice_style.css" type="text/css">

</head>

<body>
    <div id="app">

        <h1 class="text-center">{{ activity }}! Time Tracker</h1>

        <div id="add-hours" class="card">

            <h2 class="card-header">Add Hours</h2>
            <div class="card-body">

                <form>

                    <div class="alert alert-info" v-show="error">{{ error }}</div>

                    <div class="form-group">
                        <label class="form-label" for="when">When did you {{ activity | lowercase }}?</label>
                        <input id="when" class="form-control" type="date" v-bind:value="whenInput" v-on:input="setWhen">
                    </div>

                    <div class="form-group">
                        <label class="form-label" for="howLong">How long did you practice for?</label>
                        <input id="howLong" class="form-control" v-model.number="howLong">
                    </div>

                    <div class="form-group">
                        <label class="form-label" for="type">What type?</label>
                        <select class="form-control" v-model="type">
                            <option v-for="type in types" v-bind:value="type">{{ type }}</option>
                        </select>
                    </div>

                    <div class="form-check-inline">
                        <input id="v2" class="form-check-input" type="radio" value="traditional" v-model="digitalTraditional">
                        <label class="form-check-label" for="v1">Traditional</label>
                    </div>

                    <div class="form-check-inline">
                        <input id="v1" class="form-check-input" type="radio" value="digital" v-model="digitalTraditional">
                        <label class="form-check-label" for="v1">Digital</label>
                    </div>

                    <div>
                        <button class="btn btn-primary mt-2" type="button" v-on:click="submit">Add record</button>
                    </div>

                </form>
            </div>
        </div>

        <div class="card">
            <h2 class="card-header">Activity Record</h2>

            <div class="card-body">
                <h3>{{ activityRecords.length }} records</h3>

                <div id="records">
                    <table class="table">
                        <tr>
                            <th>When</th>
                            <th>How long?</th>
                            <th>Type</th>
                            <th>Digital or traditional?</th>
                        </tr>
                        <tr v-for="record in activityRecords">
                            <td>{{ record.when | dateFormat }}</td>
                            <td>{{ record.howLong }}</td>
                            <td>{{ record.type }}</td>
                            <td>{{ record.digitalTraditional }}</td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>


        <div class="card">
            <h2 class="card-header">Summary</h2>

            <div class="card-body">
                <p>You have practiced a total of {{ totalHours }} hours, broken down as follows:</p>
                <!-- Computed property -->

                <!-- total for each type  -->

                <ul class="list-group list-group-flush">
                    <li class="list-group-item" v-for="hours, type in totalHoursByType">{{ type }}: {{ hours }}</li>
                </ul>
            </div>
        </div>

    </div>

</body>
</html>